.foot-pack{
    display: flex;
    flex-flow: column;

    background-color: white;

    padding: 5px;
    margin: 5px;

    justify-content: space-between;
    align-items: center;
}


.foot-heading{
    font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    box-shadow: 5px 5px saddlebrown;
    outline: 1px solid saddlebrown;
    padding: 4px;
    margin: 5px;
    margin-right: 15spx;

    font-weight: 600;
}
.foot-button-pack{
    display: flex;
    flex-flow: row wrap;


}


.foot-button-pack> button{
margin: 5px;
font-size: medium;

font-weight: 600;

border: 2px solid purple;
border-radius: 10%;

padding: 3px;

background-color: palevioletred;
}

.foot-img-div{
    width: 100%;
    overflow: hidden;
}
.foot-img-div >img{
    width: 100%;
    min-width: 300px;
}
