.write-contain{
    display: flex;
    flex-flow: column;

    padding: 5px;
}
.write-post{
    margin: 5px;
    height: 500px;

    font-size: 1.2rem;
    font-weight: 550;
    padding: 5px;

    font-family: sans-serif;
}
.write-title{
    margin: 5px;
    height: 60px;


    font-style: italic;
font-family: sans-serif;
    font-size: 2.2rem;
    padding: 5px;

    
}
.write-heading{
    margin: 3px;
    padding: 5px;

    font-size: 1.5rem;
    font-family: serif;
    font-weight: 550;

    background-color: wheat;
}
.post-button{
    margin: 5px;
    font-size: 1.3rem;

    background-color: palevioletred;
    border-radius: 10px;
    border: 2px solid purple;

    width: fit-content;
   
    align-self: flex-end;
}

.content-contain{
    display: flex;
    flex-flow: column;
    margin: 2px;
    

}

.content-i1{
    margin: 3px;
    padding: 5px;

    font-size: 1.5rem;
    font-family: serif;
    font-weight: 550;

    background-color: wheat;
}

.content-i2{
    background-color: white;
    margin: 3px;

    overflow-y: auto;
    height: 400px;
}
.delete{
    font-size: 1.6rem;
    width: fit-content;
    font-family: serif;

    align-self: center;

    padding: 6px;

    background-color: brown;
    color: white;


    border-radius: 10px;
    border: none;
}

.like-pack-user{
    display: flex;
    flex-flow: row;

    background-color: gray;
    font-size: 1.2rem;
    padding: 5px;
    margin: 3px;

    border-radius: 10px;

    font-weight: 550;
    font-family: serif;
}
.like-count-user{
    margin-left: 3px;
}