.comment-pack{
   
    padding: 5px;
    background-color: white;
}
.comment-create{
    display: flex;
    flex-flow : column;

}
.comment-comit{
    margin: 5px;
    font-size: 1.2rem;
    
    align-self: flex-end;
}
.comment-textarea{
    height: 30vh;
    font-family:sans-serif;
    padding: 5px;

    font-style: italic;
   line-height: 1.2;

    font-size: 1.0rem;
    font-weight: 550;
}
.commentdata-contain{
    border: 2px solid black;
    overflow: auto;
    height: 60vh;
}
.commentdata-heading{
    font-size: 1.6rem;
    font-weight: 550;;
    font-family: serif;

    margin-bottom: 5px;
    padding: 4px;

    background-color: wheat
    ;
    border: 2px solid black;
}