.main-pack{

    display: flex;
    flex-flow: column;
    background-color: whitesmoke;

    margin: 5px;
}
.main-button{
    width: fit-content;
    margin: 15px;
    
    font-size: 2.0rem;
    font-weight: 650;

    border-radius: 30px;
    padding: 12px;

    border: 2px solid purple;
    background-color: palevioletred;
}
.main-heading{
    font-size: 4.0rem;
    font-weight: 700;

    margin-right: 5px;
    margin-left: 5px;

   
    
    font-family :serif
}
.main-heading2{
    font-size: 2.5rem;
    font-family :serif;
    font-weight: 700;

    align-self: flex-end;

    padding: 15px;
    margin-right: 5px;
    margin-left: 5px;

    border: 2px solid purple;
    border-radius: 30px;

    overflow: hidden;
    

}
.main-heading2-val{
    position: relative;
}


.solor{
    width: 70vw;
    align-self: flex-end;
    position: relative;
}

.write-img{
    width: 50%;
    min-width: 300px;
    border-radius: 50%;
}
.write-imgpack{
   display: flex;
   justify-content: center;
   align-items: center;

   flex-flow: column;
    margin: 5px;
}

.sec2-heading-pack{
    display: flex;
    flex-flow: column ;

   justify-content: center;

    font-family:serif;


}
.sec2-heading1, .sec2-heading2{
align-self: flex-end;

}
.sec2-heading1{
    font-size:2.5rem;
    margin: 0px;
}
.sec2-heading2{
    font-size:3.5rem;
    margin: 0px;
}

