.rough-img-pack{
    display: flex;
    width: 50%;
    background-color: wheat;
    overflow: hidden;
    
    
    
}
.rough-img-pack > img{
    position: relative;
    transform: rotate(deg);

    
   
    width: 100%;
}
.rough-pack{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 5px;
  
    
}
.rt{
    transform: translateY(-45.5px);
    transform: rotate(180deg);
}
.div-animated{
    height: 100px;
    width: 100px;

    position: relative;

   
    margin: 10px;
    background-color: aqua;

}